
*.log
ddjd-fp/Assets/Plugins/FMOD/platforms/mac/lib/resonanceaudio.bundle/Contents/Info.plist
ddjd-fp/Assets/Plugins/FMOD/platforms/mac/lib/fmodstudioL.bundle/Contents/Info.plist
ddjd-fp/Assets/Plugins/FMOD/platforms/mac/lib/fmodstudio.bundle/Contents/Info.plist
ddjd-fp/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
ddjd-fp/Assets/Plugins/FMOD/Resources/FMODStudioSettings.asset
ddjd-fp/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
ddjd-fp/Assets/Plugins/FMOD/platforms/mac/lib/fmodstudio.bundle/Contents/Info.plist
ddjd-fp/Assets/Plugins/FMOD/platforms/mac/lib/fmodstudioL.bundle/Contents/Info.plist
ddjd-fp/Assets/Plugins/FMOD/platforms/mac/lib/resonanceaudio.bundle/Contents/Info.plist
ddjd-fp/fmod_editor.log
